aiofiles
aiohttp
apscheduler
asyncio
bard
stripe==10.7.0
mysql-connector-python==9.0.0
telebot
bing_image_downloader
beautifulsoup4
rapidfuzz
cloudscraper
deepai
dnspython
emojis
ffmpeg-python
Faker
gitpython
gpytranslate
gtts
groq
tgcrypto
hachoir
heroku3
httpx
kurigram==2.2.6
img2pdf
instaloader
lexica-api
motor
numpy
openai
opencv-python
pillow
psutil
pymongo
pickledb
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
python-dotenv
python-telegram-bot==21.1.1
python-whois
pyshorteners
pyttsx3
pytz
pytube
py-tgcalls==0.9.7
pyyaml
qrcode
requests
SafoneAPI
search_engine_parser
speedtest-cli
SpeechRecognition
spotipy
telegraph
unidecode
wget
yt-dlp
youtube-search
youtube-search-python
py-yt-search
git+https://github.com/AsmSafone/SafoneAPI
